
 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&family=Sen:wght@400;700;800&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Sen', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

    body{
      font-size:24px;
     
    }

.container{
    max-width: 100%;
    margin-inline: auto;
    padding-inline:6% ;
    overflow: hidden;
} 

.flex{
  display:flex;
}

.second-heading
{
  width: 100%;
 font-size:3rem;
 font-weight: 600;
 color: #189AF1;
 letter-spacing:10px;
 margin-top:21px;
}

/* HERO SECTION */

.nav1 {
  height: 50px;
  width: 100%;
  background-color:#1da1f2;
  position: relative;
  z-index:1000;
  position: fixed;
  display:none;
}

.nav1 > .nav-header {
  display: inline;
}

.nav1 > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav1 > .nav-btn {
  display: none;
}

.nav1 > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav1 > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav1 > .nav-links > a:hover {
  background-color:#1da1f2;
}

.nav1 > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav1 > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav1 > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav1 > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav1 > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav1 > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav1 > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav1 > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav1 > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

/* nav */


.letterDrop {
  position: relative;
  top: 0;  
  display: inline-block;
  text-transform: uppercase; 
  letter-spacing: 0.2em;
  opacity: 0.8;
  transform: rotateX(-90deg);
  animation: letterDrop 1.2s ease 1 normal forwards;
}

@keyframes letterDrop {
    10% {
        opacity: 0.5;
    }
    20% {
        opacity: 0.8;
        top: 3.75em;
        transform: rotateX(-360deg);
    }
    100% {
        opacity: 1;
        top: 4.50em;
        transform: rotateX(360deg);
    }
}


span:nth-child(2n) {
  color: #663399;
}







.background{
        position: relative;
        background-image: url(./images/background.png);
        background-color: rgba(0, 0, 0, 0.6);
        background-size: cover;
        width: 100%;
        height:100vh;
        align-items: center;
        justify-content: center;
        }

        .head{
            position: absolute;
            font-size:2.5rem;

            top:-150px;
            left:350px;
            color:white;
            }

  .logo{
    position: absolute;
    top:25px;
  }

  .logo img{
    width:200px;
  }

  /* NAV BAR */
  nav {
    position: fixed;
    height: 350px;
    left: 20px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    background-color: #E9F4FB;
    padding: 20px 10px;
    border-radius: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    height: 100%;
}

nav ul li {
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #1a2238;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: 0.2s all ease;
}

nav ul li a svg {
    width: 30px;
    height: 30px;
}

nav ul li a svg path {
    transition: 0.2s all ease;
}

nav ul li a span {
    position: absolute;
    background-color:#E9F4FB;
    padding: 2px 15px;
    border-radius: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 15px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s all ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #1da1f2;
}

nav ul li a.active span,
nav ul li a:hover span {
    opacity: 1;
    visibility: visible;
    margin-left: 50px;
}

nav.active ul li a span {
    position: relative;
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

nav.active ul li a:hover span {
    margin-left: 0;
}

.svgs{
width:1px;
height:auto;
}



  /*END NAV BAR */

  /* NAV FOR SMARTPHONE  */
 
  


   /* social icon */
   .social-icons{
    position: absolute;
    bottom:15px;
    right: 20px;
    position: fixed;
    z-index: 100;
   }

      .wrapper {
        display: flex;
        justify-content:end;
        align-items: center;
        height: 10vh;
        padding-right:30px;
      }
      .icon-container {
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        text-decoration: none;
        justify-content: center;
        border-radius: 50%;
        -webkit-transition: all 0.15s ease;
        transition: all 0.15s ease;
        margin-left: 20px;
      }
      .icon-container i {
        font-size: 25px;
      }
      .icon-container-facebook {
        background: #3b5998;
        color: #fff;
      }
      .icon-container-twitter {
        background: #1da1f2;
        color: #fff;
      }
      .icon-container-github {
        background: #08b82b;
        color: #fff;
      }
      .icon-container-instagram {
        background: linear-gradient(
          45deg,
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
        color: #fff;
      }
      .icon-text {
        position: absolute;
        top: 0;
        left: 50%;
        padding: 0.8rem 1rem;
        border-radius: 40px;
        font-size: 0.8rem;
        font-weight: bold;
        opacity: 0;
        pointer-events: none;
        text-transform: uppercase;
        -webkit-transform: translate(-50%, -100%);
        transform: translate(-50%, -100%);
        -webkit-transition: all 0.3s ease;
        transition: all 0.3s ease;
        z-index:100;
      }
      .icon-text:after {
        display: block;
        position: absolute;
        bottom: 1px;
        left: 50%;
        width: 0;
        height: 0;
        content: "";
        border: solid;
        border-width: 10px 10px 0 10px;
        border-color: transparent;
        -webkit-transform: translate(-50%, 100%);
        transform: translate(-50%, 100%);
      }
      .icon-container:hover .icon-text {
        visibility: visible;
        opacity: 1;
        -webkit-transform: translate(-50%, -150%);
        transform: translate(-50%, -150%);
      }
      .icon-text-facebook {
        background: #3b5998;
        color: #fff;
      }
      .icon-text-facebook:after {
        border-top-color: #3b5998;
      }
      
      .icon-text-twitter {
        background: #1da1f2;
        color: #fff;
      }
      .icon-text-twitter:after {
        border-top-color: #1da1f2;
      }
      
      .icon-text-github {
        background: #1ece0b;
        color: #fff;
      }
      .icon-text-github:after {
        border-top-color: #1ece0b;
      }
      
      .icon-text-instagram {
        background: linear-gradient(
          45deg,
          #405de6,
          #5851db,
          #833ab4,
          #c13584,
          #e1306c,
          #fd1d1d
        );
        color: #fff;
      }
      .icon-text-instagram:after {
        border-top-color: #8739b0;
      }

/*end social icon */


/* ABOUT US */

.left

{
  width:100%;
  overflow: hidden;
  justify-content: center;
  margin-bottom: 20px;
  


}
.first-section{
 gap:7%;
}

.left img{
  width: 75%;
  
}

.first-section{
  align-items: center;
}

.right{
  
  background-color: #E9F4FB;
  padding:2%;
  border-left:1vw solid #1da1f2;
  color: #1da1f2;
  line-height:2.5vw;
  text-align: justify;
  font-size:18px;
}
.second-section{
  width: 100%;
  background-color: #E9F4FB;
  padding:2%;
  border-left:1vw solid #1da1f2;
  color: #1da1f2;
  line-height:2.5vw;
  text-align: justify;
  font-size:18px;
}

/* SERVICES */

.services{
  width:100%;
  position: relative;
  margin-top:50px;
   
}

.services-image img{
  position: absolute;
  width: 500px;
  height: 500px;
  top: calc((100% - 500px) / 2);
  left: calc((100% - 500px) / 2);
  z-index: -1;
}
.top{
  width: 100%;
  justify-content: space-between;
}

.top1{
   margin-top:250px;
}


.icon1{
  width:120px;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #405de6;
}

.services-heading{
  background-color: #addefc6e;
  width:400px;
  height:120px;
  align-items: center;
  justify-content: center;
 
}
.services-heading h2{
  width: 280px;
  color:#1da1f2;
  font-size:28px;
  letter-spacing:3px;
  line-height:40px;
}

.services-heading-right{
  text-align: right;
}


 

.hoversection{
  width: 100%;
  height: 490px;
  position: absolute; 
  top:10%;
  left:26%;
 
  display: none;
  z-index:101;
  justify-content: center;
  align-items: center;
}

.servicehover{
  width:50%;
  background-color: #1da1f2;
  border-radius:12px;
  color: white;
  padding: 30px;
  
 }

.servicehover h2{
    text-align: center;
    font-size:28px;
    font-weight: 400;
    letter-spacing:10px;
}

.servicehover p{
  margin-top: 20px;
  font-size: 18px;
  font-weight: 300;
  letter-spacing:2px;
  text-align:justify;
  font-size:1.2rem;
  line-height: 2em;
}

/* 2nd services */

.box{
  background-color: #f8d9de;
  color: #000000;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
 
}

.box-section{
  display:none;
}

.box h2{
  font-size:24px;
  margin-bottom: 20px;
  color: #F7627A;
}

.box p{
  font-family:Poppins;
  font-size:14px;
  text-align: justify;
  color: #1a2238;
  letter-spacing: 2px;
  line-height:24px;
  font-weight:400;
}

.top-image{
  width: 100%;
  justify-content: center;
  align-items: center;


}

.top-image img{
  width: 300px;
  height: auto;
}









/* PRODUCT */

.product{
  /* flex-direction: row; */
  gap: 30px;
  margin-top:25px;
  width: 100%;
  justify-content: space-between;
}

.product-left{
  /* width:48%; */
  background-color: #ffffff;
  box-shadow:  2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-bottom:20px;
  
}

.product-head{
  width: 100%;
  text-align:center;
  background-color: #F7627A;
  padding: 15px;
  color: white;
}

.product-para{
padding:5%;
text-align: justify;
font-size:1.2rem;
line-height: 2em;
}

/* CONTACT US */
.contact-section{
width: 100%;

gap:20%;
align-items: center;
justify-content: center;
}

.contact-image{
  padding:5%;
  width:40%;
  justify-content: center;
  align-items: center
  
}
.contact-image img{
  width:290px;
}

.form{
 width:100%;
  flex-direction: column;
  
}

.third{
  justify-content:end;
}

.btn1{
  margin-top:25px;
  padding:12px 24px;
  background-color: #1da1f2;
  border: none;
  border-radius:8px;
  color: white;
  font-size:24px;
}

.btn1 img{
  width:30px;
  margin-left:10px;
}

input{
  width: 48%;
  height:48px;
  border-radius:8px;
  background-color: #E6F4FD;
  border: 2px solid #1da1f2;
  padding:15px;
  color: #1da1f2;
}

input:focus {

  border-color: #f13e0c;
  box-shadow: 0 0 5px rgba(0, 160, 233, 0.5);
}

input::placeholder {
  
  color:#1da1f2;
}

textarea{
  margin-top:25px;
  width:100%;
  height:96px;
  border-radius:8px;
  background-color: #E6F4FD;
  border: 2px solid #1da1f2;
}


.first{
  justify-content: space-between;
}

.formsection{
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* FOOTER */
footer{
  background-color: #1da1f2;
  padding:2%;
  align-items: center;
  justify-content: center;
  gap:20%;
  
}

.footer-right h1{
       font-size: 34px;
       letter-spacing: 4px;
}

.footer-left p{
 text-align: justify;
 margin-top:4%;
}


.left-data{
  width:70%;
}

 
.left-image{
  background-color: white;
  border-radius: 50%;
  width:50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-right:20px;
}

.left-image img{
  width:35px;
}

.left-data{
  align-items: center;
}

.icontext{
  margin-top:20px;
}
.details{

  font-weight: 300;
  font-size: 18px;
  color: white;
  letter-spacing:1px;
  line-height:25px;
}

.copyright{
  font-size:16px;
  text-align: center;
  padding:1.5%;
}
.test{
    max-width: 100%;
    height: 50px;
    background-color: bisque;
}

   .hidden-text {
    height: 40px;
    font-family:Sen;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    background-color: #f1f1f1;
      padding: 10px;
    }
    
    .hover-element:hover + .hidden-text {
      display: block;
    }

/* MEDIA */





@media screen and(min-width:1024px) {

  body{
      font-size:18px;
  }
  
}






@media screen and (min-width:768px) and (max-width:900px)  {

  body{
      font-size:16px;
  }

 .services{
  display: none;
 }
}

/* SERVICES */






@media screen and (max-width: 767px){

  .nav1{
    display: block;
  }

  .nav2{
    display:none;
  }

.product{
 flex-direction: column;
}
.product-left{
  width:100%;
}
.first-section{
  width:100%;
}
.right{
  width:100%;
}

/* ABOUT US */

.first-section{
  flex-direction: column;
}


.top{
  flex-wrap: wrap;
  justify-content: center;
}

.top-right{

  margin-top: 20px;
}

.services-image{
display:none;
}

.top1{

  margin-top: 20px;
}



.box-section{
  display:block;
}

.services{
  display:none;
}


/* CONTACT US */
.contact-section{
  flex-direction: column;
}

.contact-image{
  width: 100%;
}
/* FOOTER */
.footer{
  flex-direction: column;
  margin-top:20px;

}

.footer-left{
  width:100%;
}


.second-heading{
  font-size:24px;
  text-align: center;
}

/* HERO SECTION */

.head{
  font-size:24px;
}

.btn1{
  margin-top:10px;
}

/* ABOUT US */

.right p{
  line-height:20px;
  font-size:14px;
  padding:10px;
}

.second-section{
  margin-top: 20px;
  line-height:20px;
  font-size:14px;
 
}
.second-section p{
  padding:10px;
}

.product-head h3{
  font-size:16px;
}

.product-para{
  font-size:14px;
}


}


@media screen and (max-width:420px){
.second-heading{
  font-size:24px;
  text-align: center;
}

/* HERO SECTION */

.head{
  font-size:24px;
}

.btn1{
  margin-top:10px;
}

/* ABOUT US */

.right p{
  line-height:20px;
  font-size:14px;
  padding:20px;
}

.second-section{
  margin-top: 20px;
  line-height:20px;
  font-size:14px;
  padding:20px;
}

.product-head h3{
  font-size:16px;
}

.product-para{
  font-size:14px;
}


}

